<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>
<body>
    <form method="POST" action="/campgrounds">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
        <button>Add new campground</button>
    </form>
    <footer>
        <a href="/campgrounds">All campgrounds</a>
    </footer>
</body>
</html>